.App {
  //background-color: $background-color-0;
  background: rgb(20, 21, 23);
  background: linear-gradient(
    180deg,
    rgba(20, 21, 23, 1) 0%,
    rgba(44, 46, 55, 1) 54%,
    rgba(62, 73, 113, 1) 100%
  );
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
