.camo {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  aspect-ratio: auto 1/1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  width: 100%;
  height: auto;
}

.camo-button {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
}

.camo:hover {
  .camo-image {
    border: 2px solid rgba($foreground-color-light, 1);
  }

  .camo-check {
    filter: invert(88%) sepia(40%) saturate(4924%) hue-rotate(188deg)
      brightness(98%) contrast(91%);
  }
}

.camo-image {
  border-radius: $border-radius-inner;
  border: 2px solid rgba($foreground-color-light, 0.5);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camo-check {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(88%) sepia(40%) saturate(4924%) hue-rotate(188deg)
    brightness(98%) contrast(91%) opacity(50%);
}
