.camo {
  display: flex;
  justify-content: center;
  align-items: stretch;
  aspect-ratio: auto 1/1;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  width: 100%;
  height: auto;
}

.camo-image {
  border-radius: $border-radius-inner;
  border: 2px solid rgba($foreground-color-light, 0.5);
  width: 100%;
  height: auto;
}

.camo-button {
  padding: 0;
  height: 100%;
  width: 100%;
}

.camo:hover {
  background: rgba($foreground-color-light, 1);
  z-index: 2;

  .camo-check {
    color: $background-color-1;
  }
}

.camo-spacer {
  border-radius: 4px;
  width: 100%;
  height: auto;
  background: rgba($foreground-color-light, 0.5);
}

.camo-check {
  align-items: center;
  color: rgba($foreground-color-light, 0.5);
  border: 2px rgba($foreground-color-light, 0.5);
  width: 100%;
  height: auto;
}
