.camo-collapse {
  margin: 0.5rem;
  height: calc(100% - 1rem);
  border-radius: 10px;
}

.camo-title-container {
  position: relative;
  margin: 0;
}

.camo-collapse-image-container {
  width: 100%;
}

.camo-collapse-image {
  border-radius: 10px;
  width: 100%;
}

.camo-title {
}
.camo-description {
}

.camo-data {
}
