.standard{
    background-color: $card-background-color;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.stretch-card{
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    >.card{
        width: 100%;
    }
}

.item-card{
    width: 275px;
}