.footer-container {
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
}

.footer-container p,
a {
  font-size: 1rem;
  color: $foreground-color-text;
  text-decoration: none;
}
