////////////////////////////////////////////////////////////////
//                        Color Palette                       //
////////////////////////////////////////////////////////////////

// Background colors



//$main-background-color: #191c21;
$main-background-color: #20232a;
//$card-background-color: #252932;
$card-background-color: #32323e;

// Foreground Colors

$main-foreground-color: #195962;
$alternate-foreground-color: #F56F6C;
//$text-color: #ebedef;
$text-color: #e6e5e8;
$accent-color: #949db2;
$gold-color: #feba24;


$border-accent: #949db2dd;

// Muted Colors

$muted-main-color: #19596255;



// Primary Background Color
//$pb-color: #0b1521;
//$pb-color: #404756;
// Secondary Background Color
//$sb-color: #131c26;
// Third Background Color
$tb-color: #112033;

// Primary color
$pf-color: #ebedef;
// Secondary color
$sf-color: #529efa;

$tf-color: #396EAD;

$ss-color: #396EAD55;

////////////////////////////////////////////////////////////////
//                            Font                            //
////////////////////////////////////////////////////////////////

// Font Type
//$font-type: "Nunito", sans-serif;
$font-type: 'Montserrat', sans-serif;

// Font Size
$default-font-size: 0.875rem;

// Font Weight
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

/////////////////////////////////////////////////
//                    Shadow                   //
/////////////////////////////////////////////////

$box-shadow: 0 0.125rem .25rem rgba($tf-color, 0.5);
$title-shadow: 0 0.125rem .25rem rgba($sf-color, 0.1);

/////////////////////////////////////////////////
//                    Border                   //
/////////////////////////////////////////////////

$sm-border-radius: 5px;
$md-border-radius: 5px;
$lg-border-radius: 1rem;

