////////////////////////////////////////////////////////////////
//                        Color Palette                       //
////////////////////////////////////////////////////////////////
// Primary Background Color
$pb-color: #0b1521;
// Secondary Background Color
$sb-color: #131c26;
// Primary color
$pf-color: #ebedef;
// Secondary color
$sf-color: #d98ba1;

$ss-color: #d98ba155;

////////////////////////////////////////////////////////////////
//                            Font                            //
////////////////////////////////////////////////////////////////

// Font Type
$font-type: "Rubik", sans-serif;

// Font Size
$default-font-size: 0.875rem;

// Font Weight
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;