// Colors

$background-color-dark: #26292b;
$background-color-light: #2e3239;
$background-color-selected: #53565b;

$foreground-color-dark: #5f7adb;
$foreground-color-light: #a2b2ee;
$foreground-color-text: #e9ebea;

// Font

$font-family: "Montserrat", sans-serif;

$gradient-text: linear-gradient(89.97deg, #a2b2ee 1.84%, #e9ebea 102.67%);

// Border

$border-radius: 6px;
$border-radius-inner: $border-radius / 2;
