.container-weapons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0.5rem 0 0.5rem;

  .weapon {
    border-radius: $border-radius;
    background-color: $background-color-1;
    padding: 1rem;
    margin: 0.5rem;
  }

  .weapon-header-container {
  }

  .weapon-header {
    color: $foreground-color-text;
    font-weight: 600;
  }
}
@media screen and (min-width: 1350px) {
  .container-weapons {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1350px) {
  .container-weapons {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 970px) {
  .container-weapons {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .container-weapons {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .container-weapons {
    grid-template-columns: repeat(1, 1fr);
  }
}

.camos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 5px;
  gap: 10px;
}

.gold-button-container {
  margin-top: 5px;
  width: 100%;
}

.gold-button {
  border: 1px solid rgba(#feba24, 0.5);
  width: 100%;
  font-weight: 600;
  font-size: 0.95rem;
  color: $foreground-color-text;
}

.gold-button:hover {
  background-color: rgba(#feba24, 0.5);
}

.gold.gold-button {
  //color: $background-color-0 !important;
}
