

.container-section-header{
    .section-header{
        
    }
}

.container-weapons{
    display: grid;
    width: 100%;

    .col-6{
        padding: 0;
    }

    .weapon-section{
        position: relative;
        //border: 3px solid rgba($main-foreground-color, 0.5);
        border-radius: $lg-border-radius;
        @include standard-card;
    }
}

@media screen and ( min-width: 1350px){
    .container-weapons{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1350px){
    .container-weapons{
        grid-template-columns: repeat(4, 1fr);
    }        
}
@media screen and (max-width: 970px){
    .container-weapons{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px){
    .container-weapons{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px){
    .container-weapons{
        grid-template-columns: repeat(1, 1fr)
    }
}



.container-weapon-header{
    display: flex;
    justify-content: center;

    padding: 0rem 0 1rem 0;

    .weapon-header{
        font-weight: bolder !important;
    }

}




/* .container-weapon-header{
    background-color: $muted-main-color;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: $sm-border-radius;
    font-weight: bold;

    .weapon-header{
        font-weight: bold;
    }    
}

.container-weapon-header:hover{
    background-color: $main-foreground-color;
} */

.edit-button{
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border: 1px solid $border-accent;
    text-transform: uppercase;
    border-radius: $sm-border-radius;
    color: $accent-color;
    margin-top: 0.25rem;
    background-color: $card-background-color;
    width: 100%;
}

.edit-button:hover{
    background-color: $accent-color;
    color: #000;
    text-transform: uppercase;
}

.weapon-progress{
    display: grid;
    place-items: center;
    padding: 0.5rem;
    //background-color: #feba2455;
    border: 1px solid $gold-color;
    margin-top: 0.25rem;
    text-transform: uppercase;
    border-radius: $sm-border-radius;
    color: $gold-color;

    .gold-header{
        font-weight: 900;
    }
}

.weapon-progress:hover{
    background-color:$gold-color;
    color: #000;
    text-transform: uppercase;
}


.weapon-completed{
    background-color: $gold-color;
    color: #000000;
    text-transform: uppercase;
}




.container-camos{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 5px;
}

.container-camo{
    aspect-ratio: auto 1 / 1;
    border-radius: $md-border-radius;
    border: 1px solid $border-accent;
    padding: 0;

    .camo-button{
        width: 100
    }

    .camo-image{
        border-radius: $md-border-radius;
        border: 1px solid $border-accent;

        display: flex;
        justify-content:center;
        align-items:center;
        box-shadow: rgba(0,0,0, .5) 0 0 0 40px inset;
        transition: box-shadow .25s;
        float: left;

    }

    .camo-image:hover{
        box-shadow: rgba(0,0,0, 1) 0 0 0 0px inset;
    }

    .camo-completed{
        box-shadow: rgba(0,0,0, 1) 0 0 0 0px inset;
    }
    
    .camo-image + .camo-completed{
        box-shadow: rgba(0,0,0, 1) 0 0 0 0px inset;
    }



    #berserker{
        background-image: url(../../assets/atomic/berserker.png);
        color: rgba(71, 121,94, .6);
        width: 100%;
        height: 100%;
    }

    #deadeye{
        background-image: url(../../assets/atomic/deadeye.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #deathArtist{
        background-image: url(../../assets/atomic/deathartist.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #mindgames{
        background-image: url(../../assets/atomic/mindgames.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #packTactics{
        background-image: url(../../assets/atomic/packtactics.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #predatory{
        background-image: url(../../assets/atomic/predatory.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #reptilian{
        background-image: url(../../assets/atomic/reptilian.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #surgical{
        background-image: url(../../assets/atomic/surgical.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #survivalist{
        background-image: url(../../assets/atomic/survivalist.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }
    #wildcat{
        background-image: url(../../assets/atomic/wildcat.png);
        color: rgba(71, 121,94, .9);
        width: 100%;
        height: 100%;
    }

    

}






